.header__link {
  text-decoration: none;
}
/* все ссылки, которые пользователь не трогал, будут синие */
.header__link:link {
    color: #2f80ed;
}
/* ссылки, по которым пользователь переходил, сделаем серыми, бледными */
.header__link:visited {
    color: #808080;
}
/* ссылка, на которую пользователь навёл курсор, сменит цвет на зеленый */
.header__link:hover {
    color: #2f38ed;
}
/* в момент клика ссылка станет красной */
.header__link:active {
    color: #f00;
}
